/* css de "planes y ofertas" */
.container13 { 
    width: 100%;
    display: grid;
    background-color: rgb(39, 39, 39);
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto auto;
    grid-auto-columns: 1fr;
    grid-auto-flow: row;
    justify-items: center;
    justify-content: center;
    grid-template-areas:
      "planesyofertas"
      "plan1"
      "plan2"
      "plan3"
      "plan4";
  }

  .planesyofertas { grid-area: planesyofertas; 
color: white;
}

  .plan1 { grid-area: plan1; }

  .plan2 { grid-area: plan2; }

  .plan3 { grid-area: plan3; }

  .plan4 { grid-area: plan4; }