@media (min-width: 1024px) {
    .contenedorimg {
        height: 1700px;
    }
    .contenedorimg figure {
        height: 70vh;
    }
    .resetlink {
        font-size: 70px;
    }
    .container13 {
        grid-template-columns: auto auto;
        grid-template-rows: auto auto auto auto auto;
        grid-template-areas:
        "planesyofertas planesyofertas"
        "plan1 plan2"
        "plan3 plan4";
    }
}